:root {
    --auth-switch-link-color: #DEDC23;
    --auth-switch-link-hover: #FFFFFF;
    --auth-switch-text-color: #F9B233;           
}


.form-group {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
}
.form-label {
    color: var(--text-color-dark);
}

.auth-switch {
    color: var(--auth-switch-text-color);
}

.auth-switch a { 
    color:var(--auth-switch-link-color);
    font-size:1.25rem;
    font-weight: 500;
    text-decoration: none;
}

.auth-switch a:hover {
    color:var(--auth-switch-link-hover);
}


.error-alert {
    margin-top:5px;
    text-align: center;
    
}

.form-button {
    float:right;
}