.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--background-color-body);
    color: var(--text-color-primary);
  }
  
  .dashboard h1 {
    font-size: 3rem;
    color: var(--pumpkin);
  }
  
  p {
    font-size: 1.25rem;
    color: var(--text-color-primary);
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  