:root {  
  --text-color-dark: #f0f0f0;
  --card-text-color: #3a3a3a;
  --card-heading-color: #4a4a4a;
  --card-background-color: #ffffff;    
  --card-button-text-hover-color: #000000;
  --button-postcard-text-color: #3a3a3a;
  --commentbox-border: #ccc;
}

.postCard {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-out;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: var(--card-background-color);
  color: var(--card-text-color);
}

.postCard img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.postCard .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  margin: 0 5px;
  min-width: 80px;
  color: var(--button-postcard-text-color);
}

.btn {
  color: var(--card-button-text-hover-color);
}

.profile {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid var(--commentbox-border);
}

.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
}

.profile span {
  margin-right: 10px;
  font-weight: bold;
  color: var(--card-text-color);
}

.profile .date {
  margin-left: auto;
  font-size: 0.9rem;
  color: var(--card-text-color);
}

.postDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--commentbox-border);
}

.postDetails span {
  font-size: 0.9rem;
  color: var(--card-text-color);
}

.likes {
  display: flex;
  float: right;
}

strong {
  color: var(--card-heading-color);
}

@media (max-width: 768px) {
  .postCard {
    margin-bottom: 20px;
  }

  .postCard img {
    height: auto;
  }

  .profile img {
    width: 30px;
    height: 30px;
  }

  .postCard .btn {
    padding: 0.25rem 0.4rem;
    font-size: 0.7rem;
    color: var(--button-postcard-text-color);
  }

  .postDetails {
    flex-direction: column;
    align-items: flex-start;
  }

  .postDetails span {
    margin-top: 5px;
  }
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.imgFluid {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.modalTitle {
  color: var(--card-heading-color);
}

.profileName {
  color: var(--card-heading-color);
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .modalFooter {
    flex-direction: column;
  }

  .profileImage {
    width: 30px;
    height: 30px;
  }
}
