.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--background-color-body);
    color: var(--text-color-primary);
  }
  
  .profileUpdateSection {
    margin-bottom: 1rem;
  }
  
  .profileUpdateSection img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .profileUpdateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  
  .form-label {
    color: var(--text-color-dark);
  }
  
  .profileUpdateForm input[type="text"]:focus,
  .profileUpdateForm input[type="file"]:focus {
    border-color: var(--buttons-bg-hover-color);
  }
  
  .form-button,
  .btn {
    background-color: transparent;
    color: var(--form-button-text-color);
    border: 1px solid var(--button-border-color);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .form-button:hover,
  .btn:hover {
    background-color: var(--form-buttons-bg-hover-color);
    color: var(--form-button-text-hover-color);
    border-color: var(--form-buttons-bg-hover-color);
  }
  
  .btn,
  .btn-primary {
    background-color: transparent !important;
    color: var(--form-button-text-color) !important;
    border: 1px solid var(--button-border-color) !important;
    border-radius: 10px !important;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn,
  .btn-primary:hover {
    background-color: var(--form-buttons-bg-hover-color) !important;
    color: var(--form-button-text-hover-color) !important;
  }
  