:root {
  --color-eminence: #582974;
  --color-ultra-violet: #585596;
  --color-white: #FFFFFF;
  --color-citrine: #DEDC00;
  --color-pumpkin: #FF6900;
  
  /* Text Colors */
  --text-color: var(--color-eminence);
  --text-color-secondary: var(--color-ultra-violet);
  --text-color-tertiary: var(--color-pumpkin);
  
  /* Component Backgrounds */
  --button-bg: var(--color-citrine);
  --navbar-bg: var(--color-eminence);
  --footer-bg: var(--color-pumpkin);

  /* TypoGraph */
  --font-headings:'Montserrat', sans-serif;
  --font-text: 'Barlow Condensed', sans-serif;
}

/* Global reset */
*::before,::after,* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}
#root {
  background-color: var(--color-eminence);
}

/* Apply colors */
body {
  font-family: var(--font--text);
  height: 100vh;
  background-color: var(--color-white);
  color: var(--text-color);
}

button {
  background-color: var(--button-bg);
  color: var(--color-white);
}

.navbar {
  background-color: var(--navbar-bg);
}

.off-canvas {
  background-color: var(--color-pumpkin);
  color: var();
}

.footer {
  background-color: var(--footer-bg);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-headings); 
}
P {
  font-family: var(--font--text);
}

