:root {
  --background-color-body: #582974;
  --box-background-color: #534E90;
  --text-color-white: #FFFFFF;
  --text-color-dark: #8a8a8a;  
  --buttons-bg-color: #DEDC23;
  --buttons-bg-hover-color: #DEDC23; 
  
  --text-color-primary: var(--text-color-white);
  --text-color-secondary:var(--text-color-dark);
  /* Typography */
  --font-headings: 'Montserrat', sans-serif;
  --font-text: 'Barlow Condensed', sans-serif;
}
/* Global reset */
*::before,
*::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-text);
  background-color: var(--color-white);
  color: var(--text-color-primary);
}


#root {
  height: 100vh;
  background-color: var(--background-color-body);
}



  
button {
  background-color: var(--button-bg);
  color: var(--text-color-white);
}

button:hover {
  background-color: var(--button-bg);
  color: var(--text-color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  color: var(--text-color-primary);
}
p {
  font-family: var(--text-color-secondary);
  color: var(--text-color-primary);
}
